<% include partials/header %>
<div class="container">
	<div class="jumbotron">
		<p>
			This is place to put content. You can put slider, short description about your website and place some links for navigation.
		</p>
	</div>
</div>
<% include partials/footer %>